@import '../../styles/variables/colors.scss';

.filter {
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.4rem 1rem;
  text-transform: capitalize;
  border-radius: 0 16px 16px 0;

  &.selected {
    font-weight: bold;
  }
  
  &:hover {
    background-color: $light-gray;
  }

  &-tag {
    padding-left: 2rem;
  }

  .fas {
    box-sizing: border-box;
    width: 2.5rem !important;

    &.fa-bookmark, &.fa-caret-down, &.fa-caret-right {
      padding-left: 0.2rem;
    }
  }
}