.navbar {
  flex: 3;
  display: flex;
  align-items: center;

  &-logo, &-search {
    padding: 0.8rem 1rem;
    box-sizing: border-box;
  }
  
  &-logo {
    display: flex;
    align-items: center;
    width: 15rem;

    img {
      width: 2.3rem;
      margin-right: 1rem;
    }

    span {
      font-size: 1.2rem;
      color: rgb(115,118,123);
      font-weight: bold;
    }
  }

  &-search {
    flex: 1;
    padding-left: 0;

    &-input {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 720px;

      input {
        // height: 2rem;
        background: #f1f3f4;
        border: 1px solid transparent;
        border-radius: 8px;
        width: 100%;
        padding: 1rem;
        font-size: 1rem;

        &::placeholder {
          font-size: 1rem;
        }
  
        &:focus {
          outline: none;
        }
      }
  
      .fa-times {
        position: relative;
        left: -2rem;
      }
    }
  }
}