$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$red: rgb(217,48,36);
$light-gray: rgb(245,247,247);
$gray: rgb(228, 227, 227);
$dark-gray: rgb(128, 128, 128);
$blue: rgb(194,219,255);
$gold: rgb(243,201,106);
